/laskarit/viikko2/Maskukortti/nbproject/private/
/laskarit/viikko2/Maskukortti/build/
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/